

:root{
	--titel-text-color: #212121;
	--accent-color: #2196F3;
	--primary-text-color: #757575;
	--primary-white-color: #FFFFFF;
	--bg-hero-footer: #2F303A;
	--primary-bg-color: #F5F5F5;
	--bg-buttom-team: #F5F4FA;
	--link-color-foot: rgba(255, 255, 255, 0.6);
    --logo-color-prim: #000000;
	--border-color: #ECECEC;
}
body {
	background-color: var(--primary-white-color);
	 color: var(--titel-text-color);
	font-size: 14px;
	font-family: 'Roboto';
	sans-seif;
	letter-spacing: 0.03em;
}		

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
		max-width: 100%;
		height: auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
	/* outline: 1px solid red; */
}

              /* Шапка */

.header {
	border-bottom: 1px solid var(--border-color);
}

.nav {
	display: flex;
	align-items: center;
}

.logo {
	    display: block;
		padding-top: 24px;
		padding-bottom: 25px;
	    font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 1.19;
		letter-spacing: 0.03em;
	    color: var(--logo-color-prim)
}

.web {
	color: var(--accent-color)
}

  .logo:focus,
 .logo:hover{
	color: var(--accent-color)
}

.heder-link:hover,
 .heder-link:focus{
	color: var(--accent-color)
}

.heder-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--titel-text-color)
}

.menu-nav {
	display: flex;
	margin-left: 93px;
}


.menu-nav .heder-link.current {
	color: var(--accent-color)
}

.menu-nav .item:not(:last-child) {
	margin-right: 50px
}

.authentication {
	display: flex;
	margin-left: auto;

}
.authentication .item +
.item {
	margin-left: 50px;
}
.list-contact {
	display: flex;
}

.heder-link {
	display: block;
	cursor: pointer;
	padding-top: 32px;
	padding-bottom: 32px;
}

.hed-link {
		cursor: pointer;
		padding-top: 21px;
		padding-bottom: 21px;
	    font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;
		color: var(--primary-text-color)
}

.hed-link:hover,
.hed-link:focus {
	color: var(--accent-color)
}


                   /* Hero */

.hero {
	background: var(--bg-hero-footer);
	/* outline: 1px solid red; */
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}


.hero-title {
	margin-top: 0;
	margin-bottom: auto;
		    font-family: 'Roboto';
			font-style: normal;
			font-weight: 900;
			font-size: 44px;
			line-height: 1.36;
			text-align: center;
			letter-spacing: 0.06em;
			text-transform: uppercase;
			color: var(--primary-white-color)
}

.hero-button {
	display: inline-block;
	border-radius: 4px;
	padding: 10px 32px;
	margin-top: 30px;
	cursor: pointer;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	border: none;
	background-color: var(--accent-color);
	color: var(--primary-white-color)
}

              /*features  */

		  

.features-list {
	display: flex;
	margin-top: 0;
	margin-bottom: 0;
}

.features-title {
	display: none;
}

.features-list .item:not(:last-child) {
	margin-right: 30px
}

.features-subtitle {
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--titel-text-color);
}

.features-text {
font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7142;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

                  /*work*/
.section-work {
	padding-bottom: 94px;
}
.work-title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--titel-text-color)
}

.work-img {
	display: flex;
}
 

.work-img .item:not(:last-child) {
	margin-right: 30px
}

                  /* team */
.section-team {
	padding-bottom: 94px;
	padding-top: 94px;
	background: var(--bg-buttom-team);
}

.team-list {
	display: flex;
	margin-top: 0;
	margin-bottom: 0;
	justify-content: center;
	}


.team-list .item:not(:last-child) {
	margin-right: 30px
}

.team-list .item {
	width: 270px;
	background: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	
}

.team-title {
	padding-bottom: 50px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--titel-text-color)
}

.team-subtitle {
	
	    font-weight: 500;
		font-size: 16px;
		line-height: 1.18;
		text-align: center;
		letter-spacing: 0.03em;
		color: var(--titel-text-color);
		margin-top: 30px;
		margin-bottom: 10px;
}

.team-text {
		font-size: 16px;
		line-height: 1.18;
		text-align: center;
		letter-spacing: 0.03em;
		color: var(--primary-text-color);
		margin-bottom: 30px;
}

                      /*footer  */

 .footer {
	background: var(--bg-hero-footer);

 }
.footer .container {
		padding-top: 60px;
		padding-bottom: 60px;
}

.footer-logo {
	display: inline-block;
	    font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 1.1923;
		letter-spacing: 0.03em;
	    color: var(--primary-white-color);
}

.footer-logo:hover,
 .footer-logo:focus {
	color: var(--accent-color)
}

.footer-web {
	color: var(--accent-color)
}

.footer-nav {
	margin-top: 0;
	margin-bottom: 0;
}

.footer-nav .item:not(:last-child) {
	margin-bottom: 9px;

}

 .footer-link {
	    display: inline-block;
	    font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.7114;
		letter-spacing: 0.03em;
	    color: var(--primary-white-color);
}
 
.footer-link:hover,
.footer-link:focus{
	color: var(--accent-color)
}

.foot-link {
	    display: inline-block;
	    font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.7114;
		letter-spacing: 0.03em;
	    color: var(--link-color-foot);
}

.tel-link {
	display: inline-block;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7114;
	letter-spacing: 0.03em;
	color: var(--link-color-foot);
}

.tel-link:hover,
.tel-link:focus {
	color: var(--accent-color)
}

.foot-link:hover,
.foot-link:focus {
	color: var(--accent-color)
}

.address {
	margin-top: 20px;
}



           /* portfolio */

.portfolio {}

.portfolio-button {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.portfolio-button .item {
	margin-left: 8px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	row-gap: 30px;
}

.portfolio-list .item {
}

.item-description {
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 24px;
	border-left: 1px solid #EEEEEE;;
	border-right: 1px solid #EEEEEE;;
	border-bottom: 1px solid #EEEEEE;;
}



 .portfolio-title {
	display: none;
}

.button:hover,
.button:focus {
	background: var(--accent-color);
	color: var(--primary-white-color);
}

.button {
	display: inline-block;
	border: none;
	padding-top: 6px;
	padding-right: 22px;
	padding-bottom: 6px;
	padding-left: 22px;
	border-radius: 4px;
    background: var(--bg-buttom-team);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	font-family: inherit;
	color: var(--titel-text-color);
	
}

.portfolio-list {
	
}

.portfolio-img{
	background: var(--primary-white-color)

}

.portfolio-subtitle {
		font-weight: 700;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
		color: var(--titel-text-color);
		margin-bottom: 4px;
}

.portfolio-text {
		font-size: 16px;
		line-height: 1.87;
		letter-spacing: 0.03em;
		color: var(--primary-text-color)
}